{% extends 'base.html' %}

{% block content %}
{% from "_formhelpers.html" import render_field,show_errors %}

<h1>{% block title %} Admin Settings {% endblock %}</h1>

<form method="POST" action="/adminUser/{{userID}}">
    {{ form.csrf_token }}
    
    {{show_errors()}}

    {{ render_field(form.username) }}
    {{ render_field(form.admin) }}
    {{ render_field(form.password) }}
    {{ render_field(form.playListID) }}
    
    {{render_field(form.update)}}
    {{render_field(form.delete)}}
</form>

{% endblock %}