<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>{% block title %} {% endblock %} - FlaskApp</title>
    <style>
        nav a {
            color: #d64161;
            font-size: 3em;
            margin-left: 50px;
            text-decoration: none;
        }
    </style>
</head>

<body>
    <nav>
        {% if current_user.is_authenticated %}
        <a href="{{ url_for('logout') }}">Logout</a>
        <a href="{{ url_for('dashboard')}}">Home</a>
        <a href="{{ url_for('userSettings') }}">Settings</a>
        <a href="{{ url_for ('scanLibrary') }}"> Scan Library</a>

        {%else%}
        <a href="{{ url_for('login') }}">Login</a>

        {% endif %}



    </nav>
    <hr>
    <div class="content">
        {% block content %} {% endblock %}
    </div>
</body>

</html>