{% extends 'base.html' %}

{% block content %}
    <h1>{% block title %} Login {% endblock %}</h1>
    {% from "_formhelpers.html" import render_field,show_errors %}

    <form method="POST" action="/">
        {{ form.csrf_token }}
        
        {{show_errors()}}

            {{ render_field(form.username) }}

            {{ render_field(form.password) }}
    

        <p>
            <input type="submit" value="Add">
        </p>
    </form>
    <a href="{{url_for('signup')}}">Sign Up Here</a>

{% endblock %}