{% extends 'base.html' %}

{%block content%}

<div>
    <img src="{{song.thumbnail}}">
    <h1> {{song.name}}</h1>
    <h2> {{song.artist}}</h2>

</div>

<div>
    <a href="{{song.ytLink}}">Youtube link</a>
    {% if song.msLink is not none %}
        <a href="{{song.msLink}}">MuseScore link</a>
    {% endif %}

</div>

<div>

    <a href='{{url_for ("editSong", songID = song.id)}}'><button >Edit Details</button></a>

    {% if song.filePath is not none %}
        <a href='{{url_for ("downloadSong", filepath = song.filePath)}}'><button >Download Song</button></a>

    {%else%}
        <button disabled>No File Currently Exists</button>
    {% endif %}

</div>

{% endblock %}